<form name="placeForm" novalidate>

    <div ng-show="isNew">Create place</div>
    <div ng-hide="isNew">Update place</div>

    <label>Title *:<br><input type="text" ng-model="place.p_title" name="pTitle" required class="span12">
    <span class="text-error" ng-show="placeForm.$dirty && placeForm.pTitle.$error.required">This field shouldn't be empty.</span></label>

    <label>Description:<br><textarea ng-model="place.p_description" class="span12"></textarea></label>

    <label for="placeLat">Latitude:</label>
    <div class="input-append">
        <input type="text" id="placeLat" ng-model="place.p_lat" placeholder="Click on the map" disabled>
        <span class="add-on">&deg;</span>
    </div>

    <label for="placeLng">Longitude:</label>
    <div class="input-append" class="span12">
        <input type="text" id="placeLng" ng-model="place.p_lng" placeholder="Click on the map" disabled>
        <span class="add-on">&deg;</span>
    </div>

    <div class="alert alert-error" ng-show="showErrors">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Errors:</h4>
        <ul>
            <li ng-repeat="error in errors">{{ error }}</li>
        </ul>
    </div>

    <button type="submit" ng-disabled="placeForm.$invalid || saving" ng-click="save()" class="btn btn-primary">
        <span ng-show="isNew">Create</span>
        <span ng-hide="isNew">Update</span>
        <span ng-show="saving"><img ng-src="images/ajax-loader.gif" alt="loader"></span>
    </button>

    <a href="#/list" class="btn">Cancel</a>

</form>
